<a href="https://colab.research.google.com/github/Tayyaba-Ramzan/Pythonic-Mastery/blob/main/data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Data Types in Python***

In this tutorial, we will learn about **different built-in data types** available in Python.

Python has the following standard data types:

int â€“ for integers

float â€“ for decimal numbers

complex â€“ for complex numbers (e.g., 2 + 3j)

str â€“ for strings (text)

bool â€“ for Boolean values (True, False)

list â€“ ordered, mutable sequence

tuple â€“ ordered, immutable sequence

set â€“ unordered, unique values

dict â€“ key-value pairs

## ***ðŸ§ª Examples:***

# Integer
a = 10

# Float
b = 5.5


# Complex
z = 2 + 3j

# String
name = "Tayyaba"

# Boolean
is_valid = True

# List
fruits = ['apple', 'banana', 'mango']

# Tuple
colors = ('red', 'green', 'blue')

# Set
unique_numbers = {1, 2, 3, 4}

# Dictionary
student = {'name': 'Tayyaba', 'age': 18}

In [12]:
# Int
a = 5
print(f"Type of a (int): {type(a)}")  # <class 'int'>

Type of a (int): <class 'int'>

In [13]:
# Float
a = 0.3
print(f"Type of a (float): {type(a)}")  # <class 'float'>

Type of a (float): <class 'float'>

In [18]:
# Complex
a = 2 + 5j
print(f"Type of a (complex): {type(a)}")  # <class 'complex'>

Type of a (complex): <class 'complex'>

In [14]:
# String
firstLetter = "hello@133"
print(f"Value: {firstLetter}, Type: {type(firstLetter)}")  # <class 'str'>

secondLetter = """
                    Python Program
"""
print(f"Value: {secondLetter}, Type: {type(secondLetter)}")  # <class 'str'>

Value: hello@133, Type: <class 'str'>
Value:
                    Python Program
, Type: <class 'str'>

In [16]:
# Boolean
a = True
b = False
print("Boolean a:", a, type(a))
print("Boolean b:", b, type(b))

Boolean a: True <class 'bool'>
Boolean b: False <class 'bool'>

In [22]:
# List (Mutable)
list = [10, "tayyaba", 2.4]
list[2] = 15  # List is mutable, so we can modify values
print(f"List: {list}, Type: {type(list)}")  # <class 'list'>

List: [10, 'tayyaba', 15], Type: <class 'list'>

In [21]:
# Tuple (Immutable)
tuple = (10, 20, "ramzan", 2j)
print(f"Tuple: {tuple}, Type: {type(tuple)}")  # <class 'tuple'>

Tuple: (10, 20, 'ramzan', 2j), Type: <class 'tuple'>

In [20]:
# Set (Mutable but unordered)
s = {1, 2, 3}
print(f"Set: {s}, Type: {type(s)}")  # <class 'set'>

Set: {1, 2, 3}, Type: <class 'set'>

In [19]:
# Dictionary (Mutable)
dict = {
    "courseName": "Python",
    "courseDuration": "3 Month"
}
print(f"Dictionary: {dict}, Type: {type(dict)}")  # <class 'dict'>
print(f"Course Duration: {dict['courseDuration']}")

Dictionary: {'courseName': 'Python', 'courseDuration': '3 Month'}, Type: <class 'dict'>
Course Duration: 3 Month