<a href="https://colab.research.google.com/github/Tayyaba-Ramzan/Pythonic-Mastery/blob/main/for_loop.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***What is For Loop in Python | Data on Repeat | Python Tutorials***

In this tutorial, we will explore how to use the `for` loop in Python. The `for` loop is used to iterate over a sequence (like a list, tuple, or string) and repeat operations multiple times. We will demonstrate its basic usage and provide an example where it helps in iterating over a list of numbers.

---

***ðŸ§ª Example:***

```python
# For Loop Example: Iterate over a list of numbers

# List of numbers
numbers = [1, 2, 3, 4, 5]

# Using for loop to print each number
for num in numbers:
    print(f"Current number is: {num}")

# Additional example: Sum all numbers in the list
total_sum = 0
for num in numbers:
    total_sum += num

print(f"The total sum of the numbers is: {total_sum}")

In [1]:
# Example 1: range(5) - Default start=0, condition <5, increment=1
# Value: (0, 1, 2, 3, 4)
for n in range(5):
    print(n)

0
1
2
3
4

In [2]:
# Example 2: range(1,6) - Start=1, condition <6, increment=1
# Value: (1, 2, 3, 4, 5)
for n in range(1,6):
    print(n)

1
2
3
4
5

In [3]:
# Example 3: range(1,8,2) - Start=1, condition <8, increment=2
# Value: (1, 3, 5, 7)
for n in range(1,8,2):
    print(n)

1
3
5
7

In [4]:
# Example 4: Table of Two (2)
# Print multiplication table of 2
for n in range(1,11,1):
    print(2, "X", n, "=", 2*n)

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
2 X 10 = 20

In [5]:
# Example 5: Print Name 10 times
for n in range(11):
    print("Tayyaba Ramzan")

Tayyaba Ramzan
Tayyaba Ramzan
Tayyaba Ramzan
Tayyaba Ramzan
Tayyaba Ramzan
Tayyaba Ramzan
Tayyaba Ramzan
Tayyaba Ramzan
Tayyaba Ramzan
Tayyaba Ramzan
Tayyaba Ramzan

In [6]:
# Example 6: Reverse range(10,0,-1) - Start=10, condition >0, decrement=-1
# Value: (10, 9, 8, 7, 6, 5, 4, 3, 2, 1)
for n in range(10, 0, -1):
    print(n)

10
9
8
7
6
5
4
3
2
1

In [7]:
# Example 7: Reverse with step -2
# Print even numbers in reverse starting from 10
for n in range(10, -1, -2):
    print(n)

10
8
6
4
2
0