<a href="https://colab.research.google.com/github/Tayyaba-Ramzan/Pythonic-Mastery/blob/main/while_loop_example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***What is While Loop in Python | Repeat Code | Tutorial for Beginners***

In this tutorial, we will learn how to use the `while` loop in Python. A `while` loop continues to execute a block of code as long as a specified condition is `True`. It is commonly used when the number of repetitions is not known in advance.

---

### 🧪 Example 1: Counting from 1 to 5 using while loop

```python
# Initialize variable
num = 1

# Condition-based loop
while num <= 5:
    print(f"Current number is: {num}")
    num += 1

## 🔁 While Loop Syntax:

- **Initialization**
- `while (condition):`
  - code to repeat  
  - increment/decrement

🧪 Example 1: Print "Tayyaba Ramzan" 10 times

In [1]:
i = 1
while i <= 10:
    print(i, "Tayyaba Ramzan")
    i += 1

1 Tayyaba Ramzan
2 Tayyaba Ramzan
3 Tayyaba Ramzan
4 Tayyaba Ramzan
5 Tayyaba Ramzan
6 Tayyaba Ramzan
7 Tayyaba Ramzan
8 Tayyaba Ramzan
9 Tayyaba Ramzan
10 Tayyaba Ramzan

🔁 Example 2: Reverse Counting (10 to 1)

In [2]:
i = 10
while i >= 1:
    print(i)
    i -= 1

10
9
8
7
6
5
4
3
2
1

🔁 Example 3: Reverse Even Numbers (10, 8, 6, ..., 2)

In [3]:
i = 10
while i >= 1:
    print(i)
    i -= 2

10
8
6
4
2